<!doctype html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch@0.8.1/lumen/bulmaswatch.min.css">
  </head>
  <body>
    {{content | safe}}
  </body>
</html>