---
layout: base.njk
---

<div class="container">
    <section class="hero">
        <div class="hero-body">
            <h1 class="title is-3">
                {{ title }}
            </h1>
        </div>
    </section>
    <div class="columns is-multiline">
        {%- for item in pagination.items -%}
            <div class="column is-3">
                <a href={{ item.url }}>
                    <div class="card">
                        <div class="card-image">
                            <div class="image is-4by3">
                                {% if item.data.thumbnail %}
                                    <img src="{{ item.data.thumbnail }}" style="object-fit: cover"/>
                                {% else %}
                                    <img src="https://picsum.photos/seed/{{ item.data.title }}/220/165" style="object-fit: cover"/>
                                {% endif %}
                            </div>
                            <div class="tags" style="position: absolute; bottom: 1em; left: 1em">
                                {% for tag in item.data.tags %}
                                    {% if tag != "article" %}
                                        <span class="tag is-dark">{{ tag }}</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-header">
                            <div class="card-header-title">
                                <h1 class=" title is-5" style="height: 2em;">
                                    {{ item.data.title }}
                                </h1>
                            </div>
                        </div>
                        <div class="card-content">
                            {% if item.data.description %}
                                <div class="content">
                                    {{ item.data.description }}
                                </div>
                            {% else %}
                                <div class="content">
                                    暂无描述
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        {%- endfor -%}
    </div>
    <nav class="pagination" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {%- for pageEntry in pagination.pages %}
                <li>
                    <a class="pagination-link {% if page.url == pagination.hrefs[ loop.index0 ] %} is-current {% endif %}" href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a>
                </li>
            {%- endfor %}
        </ul>
    </nav>