---
title: volleyball!
layers:
  play:
  - [back back-ony,      img,  BackIllust]
  - [illust face-only,   img,  Illustration]
  - [name face-only,    text,  Name]
  - [field-up face-only,       tag,  '']
  - [field-down face-only,     tag,  '']
  - [ball h0 face-only,  tag,  h-0]
  - [ball h1 face-only,  tag,  h-1]
  - [ball h2 face-only,  tag,  h-2]
  - [ball h3 face-only,  tag,  h-3]
  - [ball catch c0 face-only,  tag,  c-0]
  - [ball catch c1 face-only,  tag,  c-1]
  - [ball catch c2 face-only,  tag,  c-2]
  - [ball catch c3 face-only,  tag,  c-3]
  summary:
  - [illust face-only,   img,  Illustration]
  - [name face-only,    text,  Name]

  - [count h0 back-only,  text,  h-0]
  - [count h1 back-only,  text,  h-1]
  - [count h2 back-only,  text,  h-2]
  - [count h3 back-only,  text,  h-3]
  - [count c0 back-only,  text,  c-0]
  - [count c1 back-only,  text,  c-1]
  - [count c2 back-only,  text,  c-2]
  - [count c3 back-only,  text,  c-3]

---

<style>
  .card-layer.illust{
    padding-left: 12mm;
  }

  .card-layer.name{
    bottom: 0;
    width: 100%;
    height: 16mm;
    font-family: Xiquezhaopaiti;
  }

  .card-frame{
    --fx: 6mm;
    --fy: 0mm;
    --bx: 0mm;
    --by: 0mm
  }
  .field-up, .field-down{
    width: 12mm;
    height: 12mm;
    background: white;
    transform: translate(-50%, -50%) translate(2mm, 2mm) translate(var(--fx), var(--fy));

    border: .5mm solid slategrey;
  }
  .field-up{
    border-radius: 3mm 3mm 0 0;
  }
  .field-down{
    border-radius: 0 0 3mm 3mm;
  }

  .h0, .h1, .h2, .h3, .field-up{
    --fy: 6mm;
  }
  .c0, .c1, .c2, .c3, .field-down{
    --fy: 18mm;
  }

  .h0, .h2, .c0, .c2{
    --bx: -3mm;
  }
  .h1, .h3, .c1, .c3{
    --bx: 3mm;
  }

  .h0, .h1, .c0, .c1{
    --by: -3mm;
  }
  .h2, .h3, .c2, .c3{
    --by: 3mm;
  }

  .ball {
    border-radius: 2mm;
    transform: translate(var(--fx), var(--fy)) translate(var(--bx), var(--by));
  }
  .ball[data-val="1"]{
    border: 2mm solid dodgerblue;
  }
  .ball[data-val="2"]{
    border: 2mm solid orange;
  }
  .ball[data-val="3"]{
    border: 2mm solid crimson;
  }
  .ball.catch[data-val="2"]{
    border-color: dodgerblue orange orange dodgerblue;
  }
  .ball.catch[data-val="3"]{
    border-color: dodgerblue orange crimson crimson;
  }
</style>
