---
title: volleyball!
layers:
  play:
  - [name face-only,   text, Name]
  - [illust face-only, img,  Illustration]
---

<style>
  .card-layer.name{
    bottom: 0;
    width: 100%;
    height: 24mm;
    font-family: Xiquezhaopaiti;
  }
</style>
